@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!-- Wrapper -->
<!--<div id="wrapper">-->

<!-- Main -->
<div id="main">
    <div class="inner">
        <header>
            <h1>Project Hub </h1>
            <p>--</p>
        </header>
        <section class="tiles">
            <article class="style1">
                <span class="image">
                    <img src="~/images/pic01.jpg" alt="" />
                </span>
                <a asp-area="" asp-page="/Snake">
                    <h2>Snake Game</h2>
                    <div class="content">
                        <p>Snake</p>
                    </div>
                </a>
            </article>
            <article class="style2">
                <span class="image">
                    <img src="~/images/pic02.jpg" alt="" />
                </span>
                <a asp-area="" asp-page="/Trader">
                    <h2>Trading Bot</h2>
                    <div class="content">
                        <p>Stock trading bot</p>
                    </div>
                </a>
            </article>

            <article class="style2">
        <span class="image">
            <img src="~/images/pic02.jpg" alt="" />
        </span>
        <a asp-area="" asp-page="/biscuit">
            <h2>Biscuit Feeder</h2>
            <div class="content">
                <p>Biscuit Feeder</p>
            </div>
        </a>
    </article>

        </section>
    </div>
</div>

<!-- Footer -->


<!-- </div>-->
<!-- Scripts -->
