@page
@model SnakeModel
@{
    ViewData["Title"] = "Snake Page";
}

<div id="main">
    <div class="inner">
        <h1>Snake Game</h1>

        <span class="image main"><img height="800" src="~/images/snakeSnip.JPG" alt="" /></span>
        <h1>Description</h1>
        <p>Desciption Here</p>

    </div>
</div>


