@page
@model TraderModel
@{
    ViewData["Title"] = "Trader Page";
}




<div id="main">
    <div class="inner">
        <h1>Snake Game</h1>
        <span class="image main"><img src="~/images/pic13.jpg" alt="" /></span>
        <p>--</p>

    </div>
</div>

